<div class="container">
  <button mat-button routerLink="./dashboard" class="first-button">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </button>
  <!-- <button mat-button routerLink="./employee">
    <mat-icon>person_outline</mat-icon>
    Employee
  </button> -->
  <button mat-button routerLink="./employee-management">
    <mat-icon>person_outline</mat-icon>
    Employee
  </button>
  <button mat-button routerLink="./service">
    <mat-icon>add_a_photo</mat-icon>
    Service
  </button>
  <button mat-button routerLink="./customer">
    <mat-icon>supervised_user_circle</mat-icon>
    Customer
  </button>
  <button mat-button routerLink="./schedule">
    <mat-icon><mat-icon>schedule</mat-icon></mat-icon>
    Schedule
  </button>
</div>
