<div class="page-title">
  <span>Service Information</span>
</div>
<div class="wrap">
  <span class="field-name">Image: </span>
  <!-- <div class="image" *ngFor="let image of data.image"> -->
  <img src="https://localhost:5001/Images/{{data.image}}" height="70" width="70">
  <!-- </div> -->
</div>
<div class="wrap">
  <span class="field-name">Name: </span>
  <span>{{data.name}}</span>
</div>
<div class="wrap">
  <span class="field-name">BadgeId: </span>
  <span>{{data.badgeId}}</span>
</div>
<div class="wrap">
  <span class="field-name">Email: </span>
  <span>{{data.email}}</span>
</div>
<div class="wrap">
  <span class="field-name">Phone Number: </span>
  <span>{{data.phoneNumber}}</span>
</div>
<div class="wrap">
  <span class="field-name">Account Name: </span>
  <span>{{data.username}}</span>
</div>
<div class="wrap">
  <span class="field-name">Password: </span>
  <span>{{data.password}}</span>
</div>
