<div class="page-title">
  <span>Schedule</span>
</div>

<div class="table-employee">
  <mat-table [dataSource]="scheduleList$ | async">
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>
        <span class="clickable" (click)="handleSorting(sortBy.date)">Date</span>  
        <span [ngClass]="showDirectionIcon(sortBy.date)"></span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="dateFilter">
      <mat-header-cell *matHeaderCellDef class="header-filter">
        <mat-form-field appearance="standard">
          <input matInput 
            type="string" 
            placeholder="Enter..." 
            #inputDate
            [value]="(scheduleListQuerySubject$ | async).date || ''"
            (input)="dateFilterSubject$.next(inputDate.value)"
          >
        </mat-form-field>
      </mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>
        Status
        <!-- <span class="clickable" (click)="handleSorting(sortBy.badgeId)">BadgeId</span>  
        <span [ngClass]="showDirectionIcon(sortBy.badgeId)"></span> -->
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="statusFilter">
      <mat-header-cell *matHeaderCellDef>
        <mat-form-field >
          <mat-select [(value)]="selectedStatus">
            <mat-option [value]="selectAllOption.Value" (onSelectionChange)="changeType($event)"> {{selectAllOption.Text}} </mat-option>
            <mat-option *ngFor="let type of typeList" [value]="type.Value" 
                    (onSelectionChange)="changeType($event)">
              {{type.Text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="customerName">
      <mat-header-cell *matHeaderCellDef> Customer Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.customerName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="customerNameFilter">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="employeeName">
      <mat-header-cell *matHeaderCellDef> Employee Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.employeeName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="employeeNameFilter">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <!-- <mat-icon (click)="clkEdit(element)">edit</mat-icon>
        <mat-icon (click)="clkDelete(element)">delete</mat-icon> -->
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actionFilter">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
    </ng-container>

    <mat-header-row class="mat-header-row-title" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-header-row *matHeaderRowDef="displayedColumnFilters; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<div class="paginator">
  <mat-paginator #paginator 
    showFirstLastButtons 
    [pageSizeOptions]="pagination.pageSizeOptions" 
    (page)="onPageChange($event)"
    [pageIndex]="pagination.pageIndex"
    [pageSize]="pagination.pageSize"
    [length]="pagination.totalRecords">
  </mat-paginator>
</div>
