.active-button {
  margin: 20px 0px;
  text-align: right;
}

.table-employee {
  margin-top: 50px;
  max-height: 73%;
  min-height: 13%;
  overflow: auto;

  mat-table {
    width: 100%;

    mat-header-cell {
      font-weight: 900;
    }

    mat-cell {
      font-size: 11px;
    }

    mat-row {
      min-height: 42px;
    }
  }
}

::ng-deep .mat-paginator-container {
  min-height: 0px !important;
}

.mat-column-action {
  flex: 0 0 10%;
  justify-content: center;
  mat-icon {
    margin-left: 10px;
  }
}

.mat-header-row-title{
  border-bottom-width: 0;
  padding-bottom: 0;  
  min-height: 23px;   
}
